<header class="masthead  ">
    <div class="m-3" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="ng-autocomplete pl-5">
            <h4>Model No.</h4>
            <ng-autocomplete
                    [data]="models"
                    [searchKeyword]="keyword"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.model"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <div *ngIf="findResult">
            <div class="text-center">
                <img id="images"  class="img-fluid mb-3" src="{{findResult.image_url_base}}"  alt="">

                <div id="tag" style="width:300px; margin:0 auto;">
                    <label>Model:- <strong> {{findResult.model}} - {{findResult.price_code}} </strong> </label><br>
                    <!-- <label>Price- {{findResult.price}} </label><br> -->
                    <label>Range:- <strong>{{findResult.weight_range}} gm.</strong> </label><br>
                    <!--                   <label>Related Model- {{findResult.related_model}} </label> <br>-->
                    <!-- <pre>{{relatedModelData | json}}</pre> -->
                </div>
            </div>
            <div *ngIf="relatedModelData.length>0">
                <h4 style="text-align: center">Related Models</h4>
                <table  class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Model No.</th>
                        <th>Price Code</th>
                        <th>Weight Range</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of relatedModelData">
                        <td>{{item.model}}</td>
                        <td>{{item.price_code}}</td>
                        <td>{{item.weight_range}}</td>
                        <td><img src="{{item.image_url_base}}" height="90px" width="90px"></td>
                        <!-- <td><img src="{{findResult.image_url_base}}" height="90px" width="90px"></td> -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h3>Gallery</h3>            
            <div  class="container">

                <!-- <div class="d-flex" id="gallery"> -->
                <div>
                    <div class="col-10 p-2" *ngFor="let item of models; let indexOfElement=index">
                        <!-- <h4>{{indexOfElement+1}}</h4> -->
                        <div>
                            <img [src]="item.image_url_base" (error)="setDefaultImage(item)" class="img-fluid"  alt="">
                        </div>
                        
                    </div>
                </div>
                <!-- <div class="d-flex"  *ngFor="let item of models">
                    <div class="col-2"></div>
                    <div class="col-8"><td class="p-2" style="text-align: center;">
                        <img [src]="item.image_url_base" (error)="setDefaultImage(item)" style="text-align: center;" class="img-fluid" alt=""></td>
                    </div>
                    <div class="col-2"></div>
                    
                </div> -->
                <div ></div>
            </div>
        </div>
    </div>

</header>
