<header class="masthead  ">
    <div class="">
        
        <form class="example p-3" action="" style="max-width:200px; ">
            <h4>Model No.</h4>
            <!-- <input type="text" placeholder="Search.."  name="search2" > -->
            <input id="input" placeholder="Search..." [(ngModel)]="modelNo" name="search" type="text" autofocus>
            <div style="padding-top: 5px;"><button id="button" style="padding-bottom: 5px;" (click)="searchModel()" type="submit"><i class="bi bi-search"></i></button></div>
          </form>
    </div>
    <div *ngIf="findResult" class="p-3">
        <div>
            <p ><img id="images"  class="img-fluid" src="assets/images/model/{{findResult.Image}}" height="160px" alt=""></p>

            <div id="tag">
                
                    <label>Model No.- {{findResult.model}}</label><br>
                    <label>Price Code- {{findResult.price_code}} </label><br>
                    <!-- <label>Price- {{findResult.price}} </label><br> -->
                    <!-- <label>ploss- {{findResult.ploss}} </label><br> -->
                    <label>Range- {{findResult.weight_range}} </label><br>
<!--                   <label>Related Model- {{findResult.related_model}} </label> <br>-->
                   <!-- <pre>{{relatedModelData | json}}</pre> -->
            </div>
        </div>
        <div *ngIf="relatedModelData.length>0">
            <h4 style="text-align: center">Related Models</h4>
            <table  class="table table-bordered">
                <thead>
                    <tr>
                        <th>Model No.</th>
                        <th>Price Code</th>                        
                        <th>Weight Range</th>                       
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of relatedModelData">
                        <td>{{item.model}}</td>
                        <td>{{item.price_code}}</td>
                        <td>{{item.weight_range}}</td>
                        <td><img src="assets/images/model/{{item.Image}}" height="90px" width="90px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</header>
