<header class="masthead  ">
    <div class="">
        
        <form class="example p-3" action="" style="max-width:200px; ">
            <h4>Model No.</h4>
            <!-- <input type="text" placeholder="Search.."  name="search2" > -->
            <input id="input" placeholder="Search..." [(ngModel)]="modelNo" name="search" type="text" autofocus>
            <button id="button" (click)="searchModel()" type="submit"><i class="bi bi-search"></i></button>
          </form>
    </div>
    <div *ngIf="findResult" class="p-3">
        <div>
            <p><img id="images" src="{{findResult.image_name}}" height="200px" width="300px" alt=""></p>

            <div id="tag">
                <p><label><b>Model No.- {{findResult.model}}</b></label></p>
                <p><label><b>Price Code - {{findResult.price_code}}</b> </label></p>
                <p><label><b>Weight Range - {{findResult.weight_range}}</b> </label></p>
            </div>

        </div>
    </div>
    
</header>
